a {
  color: rgba(0, 0, 0, 0.55);
  padding: 0px 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text-truncate-2 {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 52px;
}

.card-title a {
  -webkit-line-clamp: 1;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}